@model TeamWeekClient.Models.Team

@{
  Layout = "_Layout";
}

<h1 class="teamTitle">Create New Team</h1>
<br>
<br>
<div class="container d-flex justify-content-center">
@using (Html.BeginForm("Create", "Teams"))
  {
   
      @Html.LabelFor(model => model.Name, "Name:", new { @class = "navStyle mr-2"})
      @Html.TextBoxFor(model => model.Name, new { required = "required" })
      @Html.HiddenFor(model => model.Wins) 
      @Html.HiddenFor(model => model.Losses)
      @Html.HiddenFor(model => model.UserId)
      <div>
        <input class="xBtn" type="submit"/>
      </div>
  }
</div>