@{
  Layout = "_Layout";
}

@using TeamWeekClient.Models;
@model TeamWeekClient.Models.Team;

<script type="text/javascript">
  function myPlay() {
  var audio = document.getElementById("audio");
  audio.volume = 0.5;
  audio.play();
  
}
  function myPlay2() {
    var audio = document.getElementById("audio2");
    audio.volume = 0.5;
    audio.play();
  }
</script>

<form action="/Teams/Details/@(Model.TeamId)" method="post">
  @Html.HiddenFor(model => model.UserId)
  @Html.HiddenFor(model => model.Wins)
  @Html.HiddenFor(model => model.Losses)
  <input id="name" name="name" type="text">
  <button type="submit">Go!</button>
</form>
@foreach (Animal animal in ViewBag.Animals)
        {
          @using (Html.BeginForm("DeleteAnimalFromTeam", "Teams", FormMethod.Post))
          {
            @animal.Name
            <input id="name" name="animalId" type="hidden" value="@animal.AnimalId">
            @Html.HiddenFor(model => model.TeamId)
            <button class="tBtn" type="submit" value="Delete" onclick="myPlay2()">Delete</button>
            <br>
          }
        }

<p>Animals availabe to add:</p>
@foreach (Animal animal in ViewBag.AllAnimals)
        {
          @using (Html.BeginForm("AddAnimalToTeam", "Teams", FormMethod.Post))
          {
            @animal.Name
            <img src="@animal.Image" alt="picture of @animal.Image">
            <input id="name" name="animalId" type="hidden" value="@animal.AnimalId"/>
            @Html.HiddenFor(model => model.TeamId);
            <input class="btn" type="submit" value="Add" onclick="myPlay()" />
            <br>
          }
        }

        <div>
            <audio id="audio" src="~/audio/running.wav"></audio>
            <audio id="audio2" src="~/audio/ahhhh.wav"></audio>
          </div>