@{
    ViewData["Title"] = "Home Page";
}
<div class="homeBg">
  <div class="container alley my-4">
    <div class="h-100 d-flex flex-column align-items-center">
      <h1 class="text-center my-4">Welcome to our Game!</h1>
      <div class="">   
        @Html.ActionLink("LOG IN", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="liBtn" })
        @Html.ActionLink("PACKS", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="packBtn" })
        @Html.ActionLink("PLAY", "Index", "Animals", null, new { @class="aBtn homeBtn", @id="pBtn" })
      </div>
    </div>

<<<<<<< HEAD
<div class="container my-4">
  <div class="h-100 d-flex flex-column align-items-center">
    <h1 class="text-center my-4">Welcome to our Game!</h1>
  </div>
  <div class="d-flex flex-row justify-content-center my-4">    
    <p class="aBtn" id="loginBtn">PLACEHOLDER LOGIN BUTTON</p>
    @Html.ActionLink("View Pack", "Index", "Animals", null, new { @class="aBtn", @id="packBtn" })
    @Html.ActionLink("Create an account", "Index", "Account", null, new { @class="aBtn", @id="packBtn" })
    @Html.ActionLink("View Teams", "Index", "Teams", null, new { @class="aBtn", @id="packBtn" })
=======
>>>>>>> 101b3cd0bd332a5aa66ad9127439556dc0287e0b
  </div>
</div>



