@{
    Layout = "_Layout";
}

@model TeamWeekClient.Models.Battle

<div class="bgColor">
    <div class="container d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">
            @Html.ActionLink("BATTLE", "Winner", "Plays", null, new { @class="pageTitle", battle = Model})
            <!-- <input class="" type="submit" value="PLAY"/> -->
            <!-- <button class="btn-lg btn-danger" onClick="window.location.reload();">Play Again</button> -->
        </div>
        <div class="gameScreen">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="team1Bg">
                            <div class="battleteam1">@Model.team1.name</div>
                        </div>
                        <div class="team2Bg">
                            <div class="battleteam2">@Model.team2.name</div>
                        </div>
                    </div>
                <div class="player">
                    <ul class="d-flex flex-row">
                        @foreach(var animal in Model.team1.animals)
                        {
                            <li>
                                <img class="battleimg playerAnimationTeam1" src="@animal.Image" alt="image of @animal.Name">
                            </li>
                        }
                        <br>
                        <br>
                            @foreach(var animal2 in Model.team2.animals)
                        {
                            <li>
                                <img class="battleimg2 playerAnimationTeam2" src="@animal2.Image" alt="image of @animal2.Name">
                            </li>
                        }
                    </ul>
                </div>
        </div>
    </div>
</div>


@*

Model.outcome
    possible values
    0 = tie
    1 = team1 won
    2 = team2 won

Model.team1
    team1.id = team id in the database
    team1.name = team name
    team1.animals = list of animals in team 1

Model.team1.animals
    animals[0] = first animal
    just use foreach or something to go over them or whatever your choice

Model.team2
    team2.id = team id in the database
    team2.name = team name
    team2.animals = list of animals in team 2

Model.team2.animals
    animals[0] = first animal
    just use foreach or something to go over them or whatever your choice

*@