 @{
    ViewData["Title"] = "Home Page";
}
@* 
<h1>Animals</h1>

<div class="row justify-content-center">
    

    @foreach (Animal animal in Model)
    {
        <div class="aCard">
            <a href="/Messages/Details/@(animal.AnimalId)" class="cardName">@animal.Name</a><span class="cardHp">HP: @animal.HP</span>
            <img src="@animal.Image" alt="image of @animal.Name"> 
            <li>Type: </li>
            <li>Abilities: ...to be implemented...</li>
            <li>Attack: @animal.Attack</li>
        </div>
    }
    
</div> 

*@ 
